
@{
    ViewBag.Title = "NGO_Dashboard";
}

<h2>NGO Dashboard</h2>

<br>
<a href="/System/EnrollEmployee">Enroll Employee</a> <br/>
<a href="/System/EmployeesList">Employees List</a> <br/>

<br>
<a href="/System/AddRestaurant">Add New Restaurant</a> <br/>
<a href="/System/RestaurantList">Restaurants List</a> <br/>

<br>
<a href="/System/ViewCollectRequest">View Collect Request</a> <br/>
<a href="#">Request History</a> <br/>

 <a href="/System/Login">Exit</a>