
@{
    ViewBag.Title = "DeleteItem";
}

<h2>Delete Item</h2>

<form action="" method="post">

    <p>Are you sure ?</p>

    <input type="submit" class="btn-danger" name="Delete" value="Delete" />    
</form>