
@{
    ViewBag.Title = "UpdateItem";
}

<h2 class="page-header">Edit/Update Item</h2>

<form action="" method="post">

    <input type="text" class="form-control" name="Name" placeholder="Product Name" /> <br />
    <input type="text" class="form-control" name="Price" placeholder="Price" /> <br />
    <input type="text" class="form-control" name="Qty" placeholder="Quantity" /> <br />

    <input type="submit" class="btn-primary" name="Update" value="Update" />
</form>