
@{
    ViewBag.Title = "Education";
    Layout = null;
}
<ul>
    <li><a href="https://localhost:44318/CV/Home">Home</a></li>
    <li><a href="https://localhost:44318/CV/Education">Education</a></li>
    <li><a href="https://localhost:44318/CV/Projects">Project</a></li>
    <li><a href="https://localhost:44318/CV/References">References</a></li>
</ul>
<h2>Education Details</h2>

<ul>
    <li>SSC: Premier Ideal High School Mymensingh</li>
    <p>Group: Science</p>
    <p>GPA: 5.00</p>
    <li>HSC: Notre Dame College, Mymensingh</li>
    <p>Group: Science</p>
    <p>GPA: 5.00</p>
    <li>BSC: American International University-Bangladesh</li>
    <p>Department: CSE</p>
    <p>GPA: 3.50</p>
    
</ul>

