
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<ul>
    <li><a href="https://localhost:44318/CV/Home">Home</a></li>
    <li><a href="https://localhost:44318/CV/Education">Education</a></li>
    <li><a href="https://localhost:44318/CV/Projects">Project</a></li>
    <li><a href="https://localhost:44318/CV/References">References</a></li>
</ul>

<h2>Basic Information</h2>

<ul>
    <li>Name: S.M. SAJIBUL ISLAM</li>
    <li>ID: 20-43042-1</li>
    <li>Email: sajibislam105@gmail.com</li>
    <li>Contact: 01726937732</li>
</ul>