
@{
    ViewBag.Title = "Projects";
    Layout = null;
}
<ul>
    <li><a href="https://localhost:44318/CV/Home">Home</a></li>
    <li><a href="https://localhost:44318/CV/Education">Education</a></li>
    <li><a href="https://localhost:44318/CV/Projects">Project</a></li>
    <li><a href="https://localhost:44318/CV/References">References</a></li>
</ul>

<h2>Projects Informations</h2>

<table border="1">
    <tr>
        <th>Course Name</th>
        <th>Project Name</th>
        <th>Project Description</th>
    </tr>
    <tr>
        <td>OOP</td>
        <td>Freelancing Website by Lifeloops</td>
        <td>A marketplace of freelancers.</td>
    </tr>
    <tr>
        <td>OOP2</td>
        <td>FILMFUNNEL</td>
        <td>An database management system where we can find all information about a movie.</td>
    </tr>
    <tr>
        <td>Web Technologies</td>
        <td>CharitAble</td>
        <td>A charitable website to for donating money to those who needs.</td>
    </tr>    
</table>

