
@{
    ViewBag.Title = "References";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/NavigationPanel.css">
    <title>References</title>
</head>
<body>
    <ul>
        <li><a href="https://localhost:44318/CV/Home">Home</a></li>
        <li><a href="https://localhost:44318/CV/Education">Education</a></li>
        <li><a href="https://localhost:44318/CV/Projects">Project</a></li>
        <li><a href="https://localhost:44318/CV/References">References</a></li>
    </ul>

    <h2>Reference's'</h2>
    <ul>
        <li>Tanvir Ahmed</li>
        <p> Lecturer , Computer Science, Amercian International University-Bangladesh</p>
        <p>Email: tanvir.ahmed@aiub.edu</p>
        <p>Contact: 85678257452</p>

        <li>Rakib Jahan</li>
        <p> CEO, Gameloops</p>
        <p>Contact: 5452154285</p>
    </ul>
</body>
</html>
